.Signup{
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  flex-wrap: wrap;
}
.form {
  padding: 1rem ;
  max-width: 1500px;
}

.Wrapper{
  background-color: rgb(255, 234, 172);
  padding: 10px;
  margin: 30px auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}


.control {
  margin-bottom: 0.5rem;
}

.control label {
  display:block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea
.control select
.control option {
  display: block;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.actions {
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}