.feed{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.feedWrapper{
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(6, 54, 17, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(6, 66, 14, 0.68);
}

.feedTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Luckiest+Guy&display=swap');
.feedTopLeft{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
}

.feedUserName{
    font-size: 15px;
    font-weight: 500;
    margin:0 10px
}

.feedTime{
    font-size: 12px;
}

.feedCenter{
    margin: 20px 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&display=swap');
.feedCenterBottom{
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 15px;
}
.feedCenterBottom span {
    display: flex;
    align-items: center;
}
.feedCenterBottom h5 {
    display: inline-block;
    margin: 0 5px;
}
.feedBreedName{
    display: inline-block;
    justify-content: space-between;
}

.feedImg{
    margin-top: 20px;
    max-width:  480px;
    max-height:  480px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.feedBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedLike{
    width:24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.feedLikeCounter{
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
}
 .feedWrapper{
     background-color: rgb(254, 253, 219);
 }