.TopBar{
    display: flex;
    align-items: center ;
    margin:0 10px;
    justify-content: space-between;
}
.TopRightBar {
    display:flex;
    align-items: center;
}

.TopRightBar span{
    margin: 0 20px;
    display: inline-block;
}
.TopLeftBar{
    display: flex;
    align-items: center;
}
.TopLeftBar h1{
    margin: 0 20px;
    display: inline-block;
}

.TopBar h1{
    font-size: 35px;

}

.TopRightBar span:hover{
    color:red;
}


.HomeIcon:hover{
    color:red;
}



